.idea/
*.iml
.vscode/
*~
.#*
.npmrc
node_modules/
*.d.ts
*.d.ts.map
*.js
*.js.map
*.log
*.txt
/.nyc_output/
/build/
/coverage/
/doc/
/log/
git-info.json
/lib/typings/types.ts

# flutter files, obtained by running flutter in this directory
.flutter*
# tgz of local atomist packages used to experiment moving to newest pre-2.0.0 codebase
atomist-*.tgz

